.total-container {
  display: flex;
  flex-direction: row;
}
.main-body {
  background-color: rgb(240, 231, 194);
  margin-top: -20px;
}
.up-part {
  display: flex;
  align-items: center;
}
.up-head {
  font-size: 18px;
  font-weight: 500;
  font-family: serif;
}
.icon-arrow {
  margin-left: 40px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  background-color: rgb(53, 53, 196);
  color: #ffffff;
  border-radius: 45px;
}
.icon-big {
  height: 50px;
  width: 40px;
}
.stats {
  display: flex;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter {
  background-color: #eecfcf;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  height: 20px;
}
.shares-and-products {
  display: flex;
  margin-top: -20px;
}
.shares-and-products-head {
  font-weight: 600;
  font-size: 20px;
}
.head-row {
  display: flex;
  align-items: center;
}
.set-icon {
  background-color: blue;
  border-radius: 45px;
  margin-left: 30px;
  margin-right: 10px;
  color: #ffffff;
  height: 30px;
  width: 30px;
}
@media screen and (max-width: 875px) {
  .up-head {
    font-size: 12px;
    font-weight: 400;
    font-family: serif;
  }
  .icon-arrow {
    margin-left: 30px;
    margin-right: 8px;
    height: 20px;
    width: 20px;
    background-color: rgb(53, 53, 196);
    color: #ffffff;
    border-radius: 45px;
  }
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
  }
  .main-body {
    background-color: rgb(240, 231, 194);
    margin-top: -20px;
    width: 90vw;
  }
  .right-bottom {
    display: flex;
    flex-direction: column;
  }
  .shares-and-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -30px;
  }
  .set-icon {
    background-color: blue;
    border-radius: 45px;
    margin-left: 30px;
    margin-right: 10px;
    color: #ffffff;
    height: 25px;
    width: 25px;
  }
  .shares-and-products-head {
    font-weight: 300;
    font-size: 15px;
  }
  .total-container {
    width: 90vw;
    margin-right: -200px;
  }
}
